{% block body %}


	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Cours</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			{% for child in children %}
				<tr>
					<td>{{ child.nom }}</td>
					<td>{{ child.prenom }}</td>
					<td>{{ child.id}}</td>
					{#<td>
																					<a href="{{ path('child_show', {'id': child.id}) }}">Voir</a>
																					<a href="{{ path('child_validation', {'id': child.id}) }}">valider</a>
															
																				</td>#}
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
