{% extends 'base.html.twig' %}

{% block title %}Editer l'actualité
{% endblock %}

{% block body %}
	<h1>Editer l'actualité</h1>

	<div class="formContact">
		<div class="contenuFormContact">
			{{ form_start(form) }}
			<div class="champFormContact">{{form_widget(form.title)}}</div>
			<div class="champFormContact">{{form_widget(form.content)}}</div>
			<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
			{{ form_end(form) }}
			{{ include('news/_delete_form.html.twig') }}
		</div>

	</div>


	<div class="back">
		<a href="{{ path('news_index') }}"><img src="/pictures/back.PNG"></a>
	</div>
{% endblock %}
