{% extends 'base.html.twig' %}

{% block title %}Nouvelle actualité
{% endblock %}

{% block body %}
	<h1>Nouvelle actualité</h1>

	<div class="formContact">
		<div class="contenuFormContact">
			{{ form_start(form) }}
			Titre de l'article:
			<div class="champFormContact">{{ form_widget(form.title) }}</div>
			Contenu de l'article
			<div class="champFormContact">{{ form_widget(form.content) }}</div>
			<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
	<div class="back">
		<a href="{{ path('news_index') }}"><img src="/pictures/back.PNG"></a>
	</div>
{% endblock %}
